<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <jmxConfigurator/>

    <springProfile name="(development | test | production) &amp; !local">
        <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <logger name="jsonLogger" additivity="false" level="INFO">
            <appender-ref ref="consoleJsonAppender"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="consoleJsonAppender"/>
        </root>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
